/* Font Classes */
/* .AvertaStdPE-Bold {
	font-family: AvertaStdPE-Bold;
	font-weight: normal;
	font-style: normal;
}
.AvertaStdPE-Regular {
	font-family: AvertaStdPE-Regular;
	font-weight: normal;
	font-style: normal;
} */

/* General styles */
html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #000;
}

.header_text, h1, h2, h3, input {
  font-family: AvertaStdPE-Bold;
	font-weight: normal;
	font-style: normal;
  color: #000;
}

/* Header */
header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 100;
}

#banner {
  padding: 1.3125em 0 1.3125em 4.35em;
  box-shadow: 1px 1px 5px #CED2D5;
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid #CED2D5; */
}

header img {
  height: 1.75em;
  margin-right: 0.731875em;
}

#brandname {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.25em;
}

a {
  text-decoration: none;
}

/* Sections */
.content_area {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top:4.375em;
  position: relative;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin: 0 0.5em;
}

h2,
  ul li {
  font-size: 2em;
  margin: 0 0.5em;
}

h3 {
  font-size: 1.325em;
  letter-spacing: 0.06em;
  line-height: 1.5em;
}

p {
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.2em;
}

/* Sign up Section */
#sign_up_section {
  background: linear-gradient(208.92deg, #0B10E6 0%, #2428AF 100%);
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-left: 1px solid #5A6069; */
  color: white;
  position: fixed;
  left:50%
}

#sign_up_section h1,
  #sign_up_section h2 {
    color: white;
  }

form {
  margin: 0.5em 0;
}

form input {
	height: 50px;
  	width: 335px;
	border: none;
  	border-radius: 25px;
  	border: 2px solid rgba(188,190,194,0.5);
  	box-shadow: 0 5px 25px 0 rgba(0,0,0,0.05);
  	font-size: 1em;
  	text-transform: uppercase;
  	letter-spacing: 0.1em;
  	text-align: center;
  	padding: 0;
}

.email_input {
  /* margin-bottom: 1em; */
  color: #5A6069;
}

div.required {
  margin-bottom: 1em;
}

.submit {
  color: #0B10E6;
}

.submit:hover {
  background: linear-gradient(208.92deg, #0B10E6 0%, #2428AF 100%);
  color: white;
  box-shadow: 0 1px 10px 3px #FFF;
}

.last p {
  display: inline-block;
  margin: 0.5em 0;
  color: #2227B2;
  background-color: white;
  padding: 0.5em;
  border: 1px solid red;
}

.disabled {
  color: red;
}

#sign_up_section p {
  width: 60%;
}

/* About section */
#about_section .content_area {
  height: 100vh;
  width: 50%;
}

#benefits {
  background-color: white;
  background-image: url("../images/priscilla-du-preez-234138-unsplash-min.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 0px 1px 5px black;
}

ul {
    text-align: center;
}

ul li {
  margin-bottom: 1em;
}

/* Down Arrow */
.look_down {
    width: 10em;
    position: absolute;
    top: 90%;
    left: 25%;
    margin-left: -5em;
}

.look_down p {
  text-align: center;
  color: white;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* More Details Section */
#more_details {
  flex-direction: column;
  width: 50%;
  position: relative;
  bottom: 1em;
}

.details_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#what {
  background-color: #F1F3F6;
  /* justify-content: space-around; */
}

.text_area {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.text_area img {
  height: auto;
  width: 100%;
}

#discussion img {
  height: 35em;
  width: auto;
}

#how {
  background-color: #F1F3F6
}

#early {
  background-image: url("../images/nicholas-green-324622-unsplash-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 0px 1px 5px black;
}

#early h1,
  #early h2,
    #early h3 {
    color: white;
    text-shadow: 0px 1px 5px black;
    text-align: center;
  }

/* Legal styles */
#legal {
  padding-top: 10em;
  align-items: baseline;
  padding-bottom: 4em;
}

#legal h1 {
  margin: 0.5em auto;
}

#legal h2, #legal h3 {
  margin: 1em 20% 0 20%;
  text-align: left;
}

#legal p {
  margin:1em 20% 0 20%;
  text-align: left;
}

#legal .bullet, #legal .indentBullet {
  margin-left: 22%;
  margin-top: 0.5em;
}

#legal .indentBullet {
  margin-left: 24%;
}

.bullet span, .bold {
  font-weight: bold;
}

.terms {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 1em 0.5em 0;
}

.terms a {
  color: white;
}
